<table
  class="w-full table-fixed text-sm text-left text-gray-500 dark:text-gray-400 bg-gray-50 dark:bg-gray-700"
>
  <thead
    class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
  >
    <tr>
      <th scope="col" class="px-4 py-3">Name</th>
      <th scope="col" class="px-4 py-3">Email</th>
      <th scope="col" class="px-4 py-3">Phone</th>
      <th scope="col" class="px-4 py-3">Creation Date</th>
    </tr>
  </thead>
  <tbody>
    @for (client of filteredClients(); track client.id) {
      <tr
        class="border-b dark:border-gray-700"
        [routerLink]="CLIENT_ROUTES.CLIENT_INFO(client.id)"
      >
        <th
          scope="row"
          class="px-4 py-3 font-medium text-gray-900 break-words whitespace-nowrap dark:text-white"
        >
          {{ client.name }}
        </th>
        <td class="px-4 py-3 break-words">{{ client.email }}</td>
        <td class="px-4 py-3 break-words">
          {{ client?.phone?.split("x")?.[0] }}
        </td>
        <td class="px-4 py-3 break-words">
          {{ client.creationDate | creationDateClient }}
        </td>
      </tr>
    }
  </tbody>
</table>
